
/**
https://www.toptal.com/developers/css/sprite-generator
**/

.bg-augur {
    width: 80px; height: 80px;
    background: url('/img/currencies/css_sprites.png') -410px -354px;
}

.bg-bitcoin {
    width: 80px; height: 80px;
    background: url('/img/currencies/css_sprites.png') -210px -454px;
}

.bg-bitshares {
    width: 80px; height: 80px;
    background: url('/img/currencies/css_sprites.png') -410px -110px;
}

.bg-civic {
    width: 80px; height: 80px;
    background: url('/img/currencies/css_sprites.png') -410px -210px;
}

.bg-dash {
    width: 80px; height: 80px;
    background: url('/img/currencies/css_sprites.png') -10px -354px;
}

.bg-dogecoin {
    width: 80px; height: 80px;
    background: url('/img/currencies/css_sprites.png') -110px -354px;
}

.bg-ethereum_classic {
    width: 80px; height: 80px;
    background: url('/img/currencies/css_sprites.png') -210px -354px;
}

.bg-eos {
    width: 80px; height: 80px;
    background: url('/img/currencies/css_sprites.png') -310px -354px;
}

.bg-1 {
    width: 380px; height: 324px;
    background: url('/img/currencies/css_sprites.png') -10px -10px;
}

.bg-ethereum {
    width: 80px; height: 80px;
    background: url('/img/currencies/css_sprites.png') -510px -10px;
}

.bg-maker {
    width: 80px; height: 80px;
    background: url('/img/currencies/css_sprites.png') -510px -110px;
}

.bg-iota {
    width: 80px; height: 80px;
    background: url('/img/currencies/css_sprites.png') -510px -210px;
}

.bg-lisk {
    width: 80px; height: 80px;
    background: url('/img/currencies/css_sprites.png') -510px -310px;
}

.bg-litecoin {
    width: 80px; height: 80px;
    background: url('/img/currencies/css_sprites.png') -10px -454px;
}

.bg-monaco {
    width: 80px; height: 80px;
    background: url('/img/currencies/css_sprites.png') -110px -454px;
}

.bg-monero {
    width: 80px; height: 80px;
    background: url('/img/currencies/css_sprites.png') -410px -10px;
}


.bg-nem {
    width: 80px; height: 80px;
    background: url('/img/currencies/css_sprites.png') -310px -454px;
}


.bg-neo {
    width: 80px; height: 80px;
    background: url('/img/currencies/css_sprites.png') -410px -454px;
}


.bg-omisego {
    width: 80px; height: 80px;
    background: url('/img/currencies/css_sprites.png') -510px -454px;
}

.bg-poet {
    width: 80px; height: 80px;
    background: url('/img/currencies/css_sprites.png') -610px -10px;
}

.bg-qtum {
    width: 80px; height: 80px;
    background: url('/img/currencies/css_sprites.png') -610px -110px;
}

.bg-ripple {
    width: 80px; height: 80px;
    background: url('/img/currencies/css_sprites.png') -610px -210px;
}

.bg-skycoin {
    width: 80px; height: 80px;
    background: url('/img/currencies/css_sprites.png') -610px -310px;
}

.bg-steem {
    width: 80px; height: 80px;
    background: url('/img/currencies/css_sprites.png') -610px -410px;
}

.bg-stellar {
    width: 80px; height: 80px;
    background: url('/img/currencies/css_sprites.png') -10px -554px;
}

.bg-storj {
    width: 80px; height: 80px;
    background: url('/img/currencies/css_sprites.png') -110px -554px;
}

.bg-tenx {
    width: 80px; height: 80px;
    background: url('/img/currencies/css_sprites.png') -210px -554px;
}

.bg-tether {
    width: 80px; height: 80px;
    background: url('/img/currencies/css_sprites.png') -310px -554px;
}

.bg-vechain {
    width: 80px; height: 80px;
    background: url('/img/currencies/css_sprites.png') -410px -554px;
}

.bg-zcash {
    width: 80px; height: 80px;
    background: url('/img/currencies/css_sprites.png') -510px -554px;
}