
<footer class="footer">
  <div class="content has-text-centered">
    <p>
      {{!-- <strong>Made</strong> <a href="">Frank Lee</a>.  --}}
      Do check if it is a scam     <br>
      before sending or interacting with a smart contract address!
    </p>
  </div>
</footer>
